body {
    background-image: url("/animation/ani2.svg");
    
  }
 
  table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px 10px 10px 10px;
  
  }
  .center {
      margin-left: auto;
      margin-right: auto;
      }